#header#
<div class="demo">
  <div id="instructions">
    On this page we have a controller that contains a directive that uses
    transclusion &ndash; i.e., <tt>transclude: true</tt> &ndash;
    and specifies no additional scope &ndash; i.e., the default of
    <tt>scope: false</tt>.  The directive's template simply wraps the content
    in a |div| and adds a class for some formatting.
    <ol>
      <li>Click the #rb#, then click the #psb# to see the initial state.
        |ng-transclude| creates a new "transclude" scope.  However, the directive's
        controller and link functions and the transcluded content (when reading
        property values) use the parent ng-controller |$scope|.
        This is proven by the fact that property |newProp| which is created in
        the directive's controller function is created on the ng-controller
        |$scope|.
      <li>Click the "change name" link, then click the #psb#.
        An ng-controller |$scope| function is called, which modifies property
        |name|. t he transcluded content sees this change because it
        prototypically inherits from this scope.
      <li>Type something into both textboxes, then click the #psb#.
        Because |name| is a primitive, the write creates a new local property on
        the transcluded scope.  This is probably not what you want because there
        is no way to write Ctrl1 code or directive code to retrieve values from
        the transcluded scope...  because there is no way to get from the
        controller scope or the directive to the transcluded scope.
    </ol>
    <p><b>Best Practice:</b> from Angular docs: only use <tt>transclude: true</tt>
      when you want to create a directive that wraps arbitrary content.
      Don't use |ng-model| with primitives in your transcluded content.
  </div>
  #code-start#
  <div ng-controller="Ctrl1">
    ctrl:       <i>{{ctrl}}</i><br>
    name:       <i>{{name}}</i><br>
    model.prop: <i>{{model.prop}}</i>
    <div my-directive>
      Transclude this stuff.<br>
      ctrl: <i>{{ctrl}}</i><br>
      name: <i>{{name}}</i><br>
      <a href ng-click="changeName()">change name</a><br>
      name:       <input ng-model="name"><br>
      model.prop: <input ng-model="model.prop">
    </div>
  </div>
  #code-end#
</div>
#footer#

<script>
'use strict';
angular.module('myApp', ['periscope'])
.controller('Ctrl1', ['$scope', function($scope) {
  $scope.ctrl       = 'ctrl1';
  $scope.name       = 'Mark';
  $scope.changeName = function() {
    $scope.name = 'Harsha';
  };
  $scope.model = { prop: 'hi' };
}])
.directive('myDirective', function() {
  return {
    transclude: true,
    template:   '<div class="dialog" ng-transclude></div>',
    controller: function($scope) {
      $scope.newProp = 'new prop';
    }
  }
});
</script>
</body>
</html>
